# Ignore data directories for all containers
*/tvshows/
tvshows/
**/tvshows/


*/movies/
movies/
**/movies/

*/movies/
movies/
**/movies/

*/logs/
logs/
**/logs/

*/downloads/
downloads/
**/downloads/
